div#container {
    width: 1300px;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: left;
}

body {
    background-color: #575757;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.1875;
    margin: 0;
    text-align: center;
}

#Shape10 {
    border-width: 0;
}

#Shape9 {
    border-width: 0;
}

#Shape8 {
    border-width: 0;
}

#Shape7 {
    border-width: 0;
}

#wb_Text1 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text1 div {
    text-align: left;
}

#wb_Text2 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text2 div {
    text-align: left;
}

#fen {
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 12px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

#fen:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

#bSetPos {
    border: 1px #2E8B57 solid;
    border-radius: 4px;
    background-color: #2E8B57;
    background-image: none;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 16px;
    -moz-box-shadow: 2px 2px 2px #000000;
    -webkit-box-shadow: 2px 2px 2px #000000;
    box-shadow: 2px 2px 2px #000000;
}

#bClear {
    border: 1px #2E8B57 solid;
    border-radius: 4px;
    background-color: #2E8B57;
    background-image: none;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 16px;
    -moz-box-shadow: 2px 2px 2px #000000;
    -webkit-box-shadow: 2px 2px 2px #000000;
    box-shadow: 2px 2px 2px #000000;
}

#bStart {
    border: 1px #2E8B57 solid;
    border-radius: 4px;
    background-color: #2E8B57;
    background-image: none;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 16px;
    -moz-box-shadow: 2px 2px 2px #000000;
    -webkit-box-shadow: 2px 2px 2px #000000;
    box-shadow: 2px 2px 2px #000000;
}

#wb_Text3 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text3 div {
    text-align: left;
}

#bCalc {
    border: 1px #FF8C00 solid;
    border-radius: 4px;
    background-color: #FF8C00;
    background-image: none;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 16px;
    -moz-box-shadow: 2px 2px 2px #000000;
    -webkit-box-shadow: 2px 2px 2px #000000;
    box-shadow: 2px 2px 2px #000000;
}

#Shape1 {
    border-width: 0;
}

#wb_rWhite, #wb_rWhite *, #wb_rWhite *::before, #wb_rWhite *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wb_rWhite input[type='radio'] {
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

#wb_rWhite label {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 0;
}

#wb_rWhite label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    border: 1px #CCCCCC solid;
    border-radius: 50%;
}

#wb_rWhite label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    padding: 0;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: #FFFFFF;
    content: " ";
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    transform: scale(0, 0);
}

#wb_rWhite input[type='radio']:checked + label::after {
    background-color: #3370B7;
    background-image: none;
    border-color: #3370B7;
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
}

#wb_rWhite input[type='radio']:focus + label::before {
    outline: thin dotted;
}

#wb_Text4 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text4 div {
    text-align: left;
}

#wb_Text5 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text5 div {
    text-align: left;
}

#wb_rBlack, #wb_rBlack *, #wb_rBlack *::before, #wb_rBlack *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wb_rBlack input[type='radio'] {
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

#wb_rBlack label {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 0;
}

#wb_rBlack label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    border: 1px #CCCCCC solid;
    border-radius: 50%;
}

#wb_rBlack label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    padding: 0;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: #FFFFFF;
    content: " ";
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    transform: scale(0, 0);
}

#wb_rBlack input[type='radio']:checked + label::after {
    background-color: #3370B7;
    background-image: none;
    border-color: #3370B7;
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
}

#wb_rBlack input[type='radio']:focus + label::before {
    outline: thin dotted;
}

#Shape2 {
    border-width: 0;
}

#wb_cWK, #wb_cWK *, #wb_cWK *::before, #wb_cWK *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wb_cWK input[type='checkbox'] {
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

#wb_cWK label {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 0;
}

#wb_cWK label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    border: 1px #CCCCCC solid;
    border-radius: 4px;
}

#wb_cWK label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    padding: 0;
    text-align: center;
    line-height: 20px;
}

#wb_cWK input[type='checkbox']:checked + label::after {
    content: " ";
    background: url('data:image/svg+xml,%3Csvg%20height%3D%2220%22%20width%3D%2220%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20style%3D%22fill%3A%23FFFFFF%22%20transform%3D%22scale%280.0112%29%22%3E%0D%0A%3Cpath%20transform%3D%22rotate%28180%29%20scale%28-1%2C1%29%20translate%280%2C-1536%29%22%20d%3D%22M1671%20970q0%20-40%20-28%20-68l-724%20-724l-136%20-136q-28%20-28%20-68%20-28t-68%2028l-136%20136l-362%20362q-28%2028%20-28%2068t28%2068l136%20136q28%2028%2068%2028t68%20-28l294%20-295l656%20657q28%2028%2068%2028t68%20-28l136%20-136q28%20-28%2028%20-68z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center center;
    background-size: 80% 80%
}

#wb_cWK input[type='checkbox']:checked + label::before {
    background-color: #3370B7;
    background-image: none;
    border-color: #3370B7;
}

#wb_cWK input[type='checkbox']:focus + label::before {
    outline: thin dotted;
}

#wb_Text7 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text7 div {
    text-align: left;
}

#wb_Text8 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text8 div {
    text-align: left;
}

#wb_cBK, #wb_cBK *, #wb_cBK *::before, #wb_cBK *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wb_cBK input[type='checkbox'] {
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

#wb_cBK label {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 0;
}

#wb_cBK label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    border: 1px #CCCCCC solid;
    border-radius: 4px;
}

#wb_cBK label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    padding: 0;
    text-align: center;
    line-height: 20px;
}

#wb_cBK input[type='checkbox']:checked + label::after {
    content: " ";
    background: url('data:image/svg+xml,%3Csvg%20height%3D%2220%22%20width%3D%2220%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20style%3D%22fill%3A%23FFFFFF%22%20transform%3D%22scale%280.0112%29%22%3E%0D%0A%3Cpath%20transform%3D%22rotate%28180%29%20scale%28-1%2C1%29%20translate%280%2C-1536%29%22%20d%3D%22M1671%20970q0%20-40%20-28%20-68l-724%20-724l-136%20-136q-28%20-28%20-68%20-28t-68%2028l-136%20136l-362%20362q-28%2028%20-28%2068t28%2068l136%20136q28%2028%2068%2028t68%20-28l294%20-295l656%20657q28%2028%2068%2028t68%20-28l136%20-136q28%20-28%2028%20-68z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center center;
    background-size: 80% 80%
}

#wb_cBK input[type='checkbox']:checked + label::before {
    background-color: #3370B7;
    background-image: none;
    border-color: #3370B7;
}

#wb_cBK input[type='checkbox']:focus + label::before {
    outline: thin dotted;
}

#wb_Text6 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text6 div {
    text-align: left;
}

#wb_cWQ, #wb_cWQ *, #wb_cWQ *::before, #wb_cWQ *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wb_cWQ input[type='checkbox'] {
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

#wb_cWQ label {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 0;
}

#wb_cWQ label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    border: 1px #CCCCCC solid;
    border-radius: 4px;
}

#wb_cWQ label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    padding: 0;
    text-align: center;
    line-height: 20px;
}

#wb_cWQ input[type='checkbox']:checked + label::after {
    content: " ";
    background: url('data:image/svg+xml,%3Csvg%20height%3D%2220%22%20width%3D%2220%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20style%3D%22fill%3A%23FFFFFF%22%20transform%3D%22scale%280.0112%29%22%3E%0D%0A%3Cpath%20transform%3D%22rotate%28180%29%20scale%28-1%2C1%29%20translate%280%2C-1536%29%22%20d%3D%22M1671%20970q0%20-40%20-28%20-68l-724%20-724l-136%20-136q-28%20-28%20-68%20-28t-68%2028l-136%20136l-362%20362q-28%2028%20-28%2068t28%2068l136%20136q28%2028%2068%2028t68%20-28l294%20-295l656%20657q28%2028%2068%2028t68%20-28l136%20-136q28%20-28%2028%20-68z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center center;
    background-size: 80% 80%
}

#wb_cWQ input[type='checkbox']:checked + label::before {
    background-color: #3370B7;
    background-image: none;
    border-color: #3370B7;
}

#wb_cWQ input[type='checkbox']:focus + label::before {
    outline: thin dotted;
}

#wb_cBQ, #wb_cBQ *, #wb_cBQ *::before, #wb_cBQ *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wb_cBQ input[type='checkbox'] {
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

#wb_cBQ label {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 0;
}

#wb_cBQ label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    border: 1px #CCCCCC solid;
    border-radius: 4px;
}

#wb_cBQ label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    padding: 0;
    text-align: center;
    line-height: 20px;
}

#wb_cBQ input[type='checkbox']:checked + label::after {
    content: " ";
    background: url('data:image/svg+xml,%3Csvg%20height%3D%2220%22%20width%3D%2220%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20style%3D%22fill%3A%23FFFFFF%22%20transform%3D%22scale%280.0112%29%22%3E%0D%0A%3Cpath%20transform%3D%22rotate%28180%29%20scale%28-1%2C1%29%20translate%280%2C-1536%29%22%20d%3D%22M1671%20970q0%20-40%20-28%20-68l-724%20-724l-136%20-136q-28%20-28%20-68%20-28t-68%2028l-136%20136l-362%20362q-28%2028%20-28%2068t28%2068l136%20136q28%2028%2068%2028t68%20-28l294%20-295l656%20657q28%2028%2068%2028t68%20-28l136%20-136q28%20-28%2028%20-68z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center center;
    background-size: 80% 80%
}

#wb_cBQ input[type='checkbox']:checked + label::before {
    background-color: #3370B7;
    background-image: none;
    border-color: #3370B7;
}

#wb_cBQ input[type='checkbox']:focus + label::before {
    outline: thin dotted;
}

#wb_Text9 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text9 div {
    text-align: left;
}

#Shape3 {
    border-width: 0;
}

#wb_Text10 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text10 div {
    text-align: left;
}

#wb_RadioButton1, #wb_RadioButton1 *, #wb_RadioButton1 *::before, #wb_RadioButton1 *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wb_RadioButton1 input[type='radio'] {
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

#wb_RadioButton1 label {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 0;
}

#wb_RadioButton1 label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    border: 1px #CCCCCC solid;
    border-radius: 50%;
}

#wb_RadioButton1 label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    padding: 0;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: #FFFFFF;
    content: " ";
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    transform: scale(0, 0);
}

#wb_RadioButton1 input[type='radio']:checked + label::after {
    background-color: #3370B7;
    background-image: none;
    border-color: #3370B7;
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
}

#wb_RadioButton1 input[type='radio']:focus + label::before {
    outline: thin dotted;
}

#wb_RadioButton2, #wb_RadioButton2 *, #wb_RadioButton2 *::before, #wb_RadioButton2 *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wb_RadioButton2 input[type='radio'] {
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

#wb_RadioButton2 label {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 0;
}

#wb_RadioButton2 label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    border: 1px #CCCCCC solid;
    border-radius: 50%;
}

#wb_RadioButton2 label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    padding: 0;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: #FFFFFF;
    content: " ";
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    transform: scale(0, 0);
}

#wb_RadioButton2 input[type='radio']:checked + label::after {
    background-color: #3370B7;
    background-image: none;
    border-color: #3370B7;
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
}

#wb_RadioButton2 input[type='radio']:focus + label::before {
    outline: thin dotted;
}

#wb_Text11 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text11 div {
    text-align: left;
}

#Shape4 {
    border-width: 0;
}

#lBestmove {
    border: 0px #CCCCCC solid;
    background-color: transparent;
    background-image: none;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 16px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: top;
}

#bBest {
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 16px;
    padding: 4px 4px 4px 4px;
    text-align: center;
    vertical-align: middle;
}

#bBest:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

#Label1 {
    border: 0px #CCCCCC solid;
    background-color: transparent;
    background-image: none;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 16px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: top;
}

#bScore {
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 16px;
    padding: 4px 4px 4px 4px;
    text-align: center;
    vertical-align: middle;
}

#bScore:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

#bDepth {
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 16px;
    padding: 4px 4px 4px 4px;
    text-align: center;
    vertical-align: middle;
}

#bDepth:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

#Label2 {
    border: 0px #CCCCCC solid;
    background-color: transparent;
    background-image: none;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 16px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: top;
}

#Shape5 {
    border-width: 0;
}

#Label3 {
    border: 0px #CCCCCC solid;
    background-color: transparent;
    background-image: none;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 16px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: top;
}

#bTime {
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 16px;
    padding: 4px 4px 4px 4px;
    text-align: center;
    vertical-align: middle;
}

#bTime:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

#bFlip {
    border: 1px #2E8B57 solid;
    border-radius: 4px;
    background-color: #2E8B57;
    background-image: none;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 16px;
    -moz-box-shadow: 2px 2px 2px #000000;
    -webkit-box-shadow: 2px 2px 2px #000000;
    box-shadow: 2px 2px 2px #000000;
}

#bProgress, #bProgress .ui-corner-right {
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
}

#bProgress, #bProgress .ui-corner-left {
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
}

#bProgress, ui-widget-content {
    border-color: #333333;
    background-color: #333333;
    background-image: none;
}

#bProgress .ui-widget-header {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    background-image: none;
}

#bTimer, #bTimer .ui-corner-right {
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
}

#bTimer, #bTimer .ui-corner-left {
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
}

#bTimer, ui-widget-content {
    border-color: #333333;
    background-color: #333333;
    background-image: none;
}

#bTimer .ui-widget-header {
    border-color: #2E8B57;
    background-color: #2E8B57;
    background-image: none;
}

#Shape6 {
    border-width: 0;
}

#Label4 {
    border: 0px #CCCCCC solid;
    background-color: transparent;
    background-image: none;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 16px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: top;
}

#bPV {
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 12px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

#bPV:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

#wb_Text12 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: center;
}

#wb_Text12 div {
    text-align: center;
}

#Label2 {
    position: absolute;
    left: 1002px;
    top: 518px;
    width: 49px;
    height: 42px;
    line-height: 42px;
    z-index: 39;
}

#wb_Shape4 {
    position: absolute;
    left: 659px;
    top: 518px;
    width: 283px;
    height: 157px;
    visibility: hidden;
    z-index: 33;
}

#bCalc {
    position: absolute;
    left: 659px;
    top: 434px;
    width: 182px;
    height: 63px;
    z-index: 13;
    cursor: pointer;
}

#Label3 {
    position: absolute;
    left: 678px;
    top: 645px;
    width: 186px;
    height: 42px;
    line-height: 42px;
    z-index: 41;
}

#wb_Shape5 {
    position: absolute;
    left: 659px;
    top: 645px;
    width: 281px;
    height: 50px;
    visibility: hidden;
    z-index: 40;
}

#bScore {
    position: absolute;
    left: 914px;
    top: 526px;
    width: 56px;
    height: 24px;
    line-height: 24px;
    z-index: 37;
}

#Shape1 {
    width: 282px;
    height: 85px;
}

#wb_Text1 {
    position: absolute;
    left: 91px;
    top: 32px;
    width: 250px;
    height: 74px;
    z-index: 6;
}

#bPV {
    position: absolute;
    left: 720px;
    top: 589px;
    width: 395px;
    height: 24px;
    line-height: 24px;
    z-index: 48;
}

#Label4 {
    position: absolute;
    left: 673px;
    top: 581px;
    width: 39px;
    height: 42px;
    line-height: 42px;
    z-index: 47;
}

#wb_Shape6 {
    position: absolute;
    left: 659px;
    top: 581px;
    width: 281px;
    height: 50px;
    visibility: hidden;
    z-index: 46;
}

#bProgress {
    position: absolute;
    left: 370px;
    top: 444px;
    width: 503px;
    height: 20px;
    z-index: 44;
    transform: rotate(-90deg);
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
}

#RadioButton1 {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

#cWK {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

#Shape2 {
    width: 283px;
    height: 85px;
}

#bStart {
    position: absolute;
    left: 659px;
    top: 227px;
    width: 114px;
    height: 34px;
    z-index: 11;
    cursor: pointer;
}

#wb_Text2 {
    position: absolute;
    left: 380px;
    top: 33px;
    width: 541px;
    height: 74px;
    z-index: 7;
}

#bTimer {
    position: absolute;
    left: 955px;
    top: 666px;
    width: 168px;
    height: 7px;
    z-index: 1;
}

#bDepth {
    position: absolute;
    left: 1059px;
    top: 526px;
    width: 56px;
    height: 24px;
    line-height: 24px;
    z-index: 38;
}

#RadioButton2 {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

#Shape3 {
    width: 283px;
    height: 63px;
}

#wb_Text3 {
    position: absolute;
    left: 660px;
    top: 282px;
    width: 48px;
    height: 22px;
    z-index: 12;
}

#bSetPos {
    position: absolute;
    left: 788px;
    top: 227px;
    width: 161px;
    height: 34px;
    z-index: 9;
    cursor: pointer;
}

#wb_Shape7 {
    position: absolute;
    left: 659px;
    top: 518px;
    width: 482px;
    height: 50px;
    z-index: 3;
}

#wb_Shape10 {
    position: absolute;
    left: 392px;
    top: 1013px;
    width: 281px;
    height: 28px;
    visibility: hidden;
    z-index: 0;
}

#Shape4 {
    width: 283px;
    height: 157px;
}

#wb_cWK {
    position: absolute;
    left: 872px;
    top: 338px;
    width: 20px;
    height: 20px;
    z-index: 20;
}

#wb_Text4 {
    position: absolute;
    left: 707px;
    top: 338px;
    width: 121px;
    height: 22px;
    z-index: 16;
}

#wb_Shape8 {
    position: absolute;
    left: 659px;
    top: 581px;
    width: 482px;
    height: 50px;
    z-index: 2;
}

#Shape5 {
    width: 281px;
    height: 50px;
}

#wb_Text5 {
    position: absolute;
    left: 707px;
    top: 380px;
    width: 121px;
    height: 22px;
    z-index: 17;
}

#wb_rWhite {
    position: absolute;
    left: 673px;
    top: 339px;
    width: 20px;
    height: 20px;
    z-index: 15;
}

#wb_Shape9 {
    position: absolute;
    left: 659px;
    top: 645px;
    width: 482px;
    height: 50px;
    z-index: 1;
}

#Shape10 {
    width: 281px;
    height: 28px;
}

#Shape6 {
    width: 281px;
    height: 50px;
}

#wb_Text6 {
    position: absolute;
    left: 1036px;
    top: 336px;
    width: 106px;
    height: 22px;
    z-index: 24;
}

#cBK {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

#bFlip {
    position: absolute;
    left: 1082px;
    top: 227px;
    width: 59px;
    height: 34px;
    z-index: 43;
    cursor: pointer;
}

#wb_Text7 {
    position: absolute;
    left: 897px;
    top: 337px;
    width: 87px;
    height: 22px;
    z-index: 21;
}

#Html2 {
    position: absolute;
    left: 5px;
    top: 4px;
    width: 26px;
    height: 28px;
    z-index: 5;
}

#Shape7 {
    width: 482px;
    height: 50px;
}

#wb_Text10 {
    position: absolute;
    left: 903px;
    top: 455px;
    width: 99px;
    height: 22px;
    z-index: 29;
}

#cWQ {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

#wb_cBK {
    position: absolute;
    left: 872px;
    top: 379px;
    width: 20px;
    height: 20px;
    z-index: 23;
}

#wb_Text8 {
    position: absolute;
    left: 897px;
    top: 378px;
    width: 87px;
    height: 22px;
    z-index: 22;
}

#Shape8 {
    width: 482px;
    height: 50px;
}

#bTime {
    position: absolute;
    left: 872px;
    top: 653px;
    width: 67px;
    height: 24px;
    line-height: 24px;
    z-index: 42;
}

#wb_Text11 {
    position: absolute;
    left: 1049px;
    top: 454px;
    width: 92px;
    height: 22px;
    z-index: 32;
}

#wb_Text9 {
    position: absolute;
    left: 1036px;
    top: 377px;
    width: 106px;
    height: 22px;
    z-index: 27;
}

#rWhite {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

#fen {
    position: absolute;
    left: 708px;
    top: 276px;
    width: 424px;
    height: 24px;
    line-height: 24px;
    z-index: 8;
}

#Shape9 {
    width: 482px;
    height: 50px;
}

#wb_Text12 {
    position: absolute;
    left: 397px;
    top: 819px;
    width: 506px;
    height: 16px;
    text-align: center;
    z-index: 49;
}

#wb_cWQ {
    position: absolute;
    left: 1011px;
    top: 337px;
    width: 20px;
    height: 20px;
    z-index: 25;
}

#myBoard {
    width: 500px;
    position: relative;
    left: 100px;
    top: 140px;
}

#cBQ {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

#wb_rBlack {
    position: absolute;
    left: 673px;
    top: 381px;
    width: 20px;
    height: 20px;
    z-index: 18;
}

#bClear {
    position: absolute;
    left: 964px;
    top: 227px;
    width: 103px;
    height: 34px;
    z-index: 10;
    cursor: pointer;
}

#wb_cBQ {
    position: absolute;
    left: 1011px;
    top: 378px;
    width: 20px;
    height: 20px;
    z-index: 26;
}

#wb_Shape1 {
    position: absolute;
    left: 659px;
    top: 328px;
    width: 282px;
    height: 85px;
    z-index: 14;
}

#bBest {
    position: absolute;
    left: 764px;
    top: 526px;
    width: 67px;
    height: 24px;
    line-height: 24px;
    z-index: 35;
}

#wb_RadioButton1 {
    position: absolute;
    left: 872px;
    top: 456px;
    width: 20px;
    height: 20px;
    z-index: 30;
}

#wb_Shape2 {
    position: absolute;
    left: 859px;
    top: 328px;
    width: 283px;
    height: 85px;
    z-index: 19;
}

#Label1 {
    position: absolute;
    left: 859px;
    top: 518px;
    width: 49px;
    height: 42px;
    line-height: 42px;
    z-index: 36;
}

#lBestmove {
    position: absolute;
    left: 673px;
    top: 518px;
    width: 92px;
    height: 42px;
    line-height: 42px;
    z-index: 34;
}

#wb_RadioButton2 {
    position: absolute;
    left: 1017px;
    top: 456px;
    width: 20px;
    height: 20px;
    z-index: 31;
}

#wb_Shape3 {
    position: absolute;
    left: 859px;
    top: 434px;
    width: 283px;
    height: 63px;
    z-index: 28;
}

#rBlack {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

@media only screen and (max-width: 1299px) {
    div#container {
        width: 320px;
    }

    #wb_Shape10 {
        left: 22px;
        top: 572px;
        visibility: visible;
        display: inline;
    }

    #wb_Shape9 {
        left: 659px;
        top: 645px;
        visibility: hidden;
        display: none;
    }

    #wb_Shape8 {
        left: 659px;
        top: 581px;
        visibility: hidden;
        display: none;
    }

    #wb_Shape7 {
        left: 659px;
        top: 518px;
        visibility: hidden;
        display: none;
    }

    #Html2 {
        left: 5px;
        top: 4px;
        width: 26px;
        height: 28px;
        visibility: visible;
        display: inline;
    }

    #wb_Text1 {
        left: 91px;
        top: 32px;
        width: 250px;
        height: 74px;
        visibility: hidden;
        display: none;
        font-size: 8px;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #wb_Text1 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    #wb_Text2 {
        left: 380px;
        top: 33px;
        width: 541px;
        height: 74px;
        visibility: hidden;
        display: none;
        font-size: 8px;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #wb_Text2 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    #fen {
        left: 708px;
        top: 276px;
        width: 424px;
        height: 24px;
        visibility: hidden;
        display: none;
        color: #000000;
        font-size: 12px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: #FFFFFF;
        background-image: none;
        border-radius: 4px;
    }

    #bSetPos {
        left: 788px;
        top: 227px;
        width: 161px;
        height: 34px;
        visibility: hidden;
        display: none;
        color: #FFFFFF;
        font-size: 16px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: #2E8B57;
        background-image: none;
        border-radius: 4px;
    }

    #bClear {
        left: 141px;
        top: 610px;
        width: 93px;
        height: 34px;
        visibility: visible;
        display: inline;
        color: #FFFFFF;
        font-size: 16px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: #2E8B57;
        background-image: none;
        border-radius: 4px;
    }

    #bStart {
        left: 22px;
        top: 610px;
        width: 110px;
        height: 34px;
        visibility: visible;
        display: inline;
        color: #FFFFFF;
        font-size: 16px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: #2E8B57;
        background-image: none;
        border-radius: 4px;
    }

    #wb_Text3 {
        left: 660px;
        top: 282px;
        width: 48px;
        height: 22px;
        visibility: hidden;
        display: none;
        font-size: 8px;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #wb_Text3 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    #bCalc {
        left: 22px;
        top: 496px;
        width: 281px;
        height: 63px;
        visibility: visible;
        display: inline;
        color: #FFFFFF;
        font-size: 16px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: #FF8C00;
        background-image: none;
        border-radius: 4px;
    }

    #wb_Shape1 {
        left: 19px;
        top: 734px;
        visibility: visible;
        display: inline;
    }

    #wb_rWhite {
        left: 33px;
        top: 745px;
        width: 20px;
        height: 20px;
        visibility: visible;
        display: inline;
    }

    #wb_rWhite input[type='radio'] {
        width: 20px;
        height: 20px;
    }

    #wb_rWhite label::before {
        width: 20px;
        height: 20px;
        border-color: #CCCCCC;
    }

    #wb_rWhite label::after {
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #FFFFFF;
    }

    #wb_rWhite input[type='radio']:checked + label::after {
        background-color: #3370B7;
        background-image: none;
        border-color: #3370B7;
    }

    #wb_Text4 {
        left: 67px;
        top: 744px;
        width: 121px;
        height: 22px;
        visibility: visible;
        display: inline;
        font-size: 8px;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #wb_Text4 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    #wb_Text5 {
        left: 67px;
        top: 786px;
        width: 121px;
        height: 22px;
        visibility: visible;
        display: inline;
        font-size: 8px;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #wb_Text5 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    #wb_rBlack {
        left: 33px;
        top: 787px;
        width: 20px;
        height: 20px;
        visibility: visible;
        display: inline;
    }

    #wb_rBlack input[type='radio'] {
        width: 20px;
        height: 20px;
    }

    #wb_rBlack label::before {
        width: 20px;
        height: 20px;
        border-color: #CCCCCC;
    }

    #wb_rBlack label::after {
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #FFFFFF;
    }

    #wb_rBlack input[type='radio']:checked + label::after {
        background-color: #3370B7;
        background-image: none;
        border-color: #3370B7;
    }

    #wb_Shape2 {
        left: 859px;
        top: 328px;
        visibility: hidden;
        display: none;
    }

    #wb_cWK {
        left: 872px;
        top: 338px;
        width: 20px;
        height: 20px;
        visibility: hidden;
        display: none;
    }

    #wb_cWK input[type='checkbox'] {
        width: 20px;
        height: 20px;
    }

    #wb_cWK label::before {
        width: 20px;
        height: 20px;
        border-color: #CCCCCC;
    }

    #wb_cWK label::after {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    #wb_cWK input[type='checkbox']:checked + label::after {
        color: #FFFFFF;
    }

    #wb_cWK input[type='checkbox']:checked + label::before {
        background-color: #3370B7;
        background-image: none;
        border-color: #3370B7;
    }

    #wb_Text7 {
        left: 897px;
        top: 337px;
        width: 87px;
        height: 22px;
        visibility: hidden;
        display: none;
        font-size: 8px;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #wb_Text7 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    #wb_Text8 {
        left: 897px;
        top: 378px;
        width: 87px;
        height: 22px;
        visibility: hidden;
        display: none;
        font-size: 8px;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #wb_Text8 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    #wb_cBK {
        left: 872px;
        top: 379px;
        width: 20px;
        height: 20px;
        visibility: hidden;
        display: none;
    }

    #wb_cBK input[type='checkbox'] {
        width: 20px;
        height: 20px;
    }

    #wb_cBK label::before {
        width: 20px;
        height: 20px;
        border-color: #CCCCCC;
    }

    #wb_cBK label::after {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    #wb_cBK input[type='checkbox']:checked + label::after {
        color: #FFFFFF;
    }

    #wb_cBK input[type='checkbox']:checked + label::before {
        background-color: #3370B7;
        background-image: none;
        border-color: #3370B7;
    }

    #wb_Text6 {
        left: 1036px;
        top: 336px;
        width: 106px;
        height: 22px;
        visibility: hidden;
        display: none;
        font-size: 8px;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #wb_Text6 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    #wb_cWQ {
        left: 1011px;
        top: 337px;
        width: 20px;
        height: 20px;
        visibility: hidden;
        display: none;
    }

    #wb_cWQ input[type='checkbox'] {
        width: 20px;
        height: 20px;
    }

    #wb_cWQ label::before {
        width: 20px;
        height: 20px;
        border-color: #CCCCCC;
    }

    #wb_cWQ label::after {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    #wb_cWQ input[type='checkbox']:checked + label::after {
        color: #FFFFFF;
    }

    #wb_cWQ input[type='checkbox']:checked + label::before {
        background-color: #3370B7;
        background-image: none;
        border-color: #3370B7;
    }

    #wb_cBQ {
        left: 1011px;
        top: 378px;
        width: 20px;
        height: 20px;
        visibility: hidden;
        display: none;
    }

    #wb_cBQ input[type='checkbox'] {
        width: 20px;
        height: 20px;
    }

    #wb_cBQ label::before {
        width: 20px;
        height: 20px;
        border-color: #CCCCCC;
    }

    #wb_cBQ label::after {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    #wb_cBQ input[type='checkbox']:checked + label::after {
        color: #FFFFFF;
    }

    #wb_cBQ input[type='checkbox']:checked + label::before {
        background-color: #3370B7;
        background-image: none;
        border-color: #3370B7;
    }

    #wb_Text9 {
        left: 1036px;
        top: 377px;
        width: 106px;
        height: 22px;
        visibility: hidden;
        display: none;
        font-size: 8px;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #wb_Text9 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    #wb_Shape3 {
        left: 19px;
        top: 657px;
        visibility: visible;
        display: inline;
    }

    #wb_Text10 {
        left: 63px;
        top: 678px;
        width: 99px;
        height: 22px;
        visibility: visible;
        display: inline;
        font-size: 8px;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #wb_Text10 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    #wb_RadioButton1 {
        left: 32px;
        top: 679px;
        width: 20px;
        height: 20px;
        visibility: visible;
        display: inline;
    }

    #wb_RadioButton1 input[type='radio'] {
        width: 20px;
        height: 20px;
    }

    #wb_RadioButton1 label::before {
        width: 20px;
        height: 20px;
        border-color: #CCCCCC;
    }

    #wb_RadioButton1 label::after {
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #FFFFFF;
    }

    #wb_RadioButton1 input[type='radio']:checked + label::after {
        background-color: #3370B7;
        background-image: none;
        border-color: #3370B7;
    }

    #wb_RadioButton2 {
        left: 177px;
        top: 679px;
        width: 20px;
        height: 20px;
        visibility: visible;
        display: inline;
    }

    #wb_RadioButton2 input[type='radio'] {
        width: 20px;
        height: 20px;
    }

    #wb_RadioButton2 label::before {
        width: 20px;
        height: 20px;
        border-color: #CCCCCC;
    }

    #wb_RadioButton2 label::after {
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #FFFFFF;
    }

    #wb_RadioButton2 input[type='radio']:checked + label::after {
        background-color: #3370B7;
        background-image: none;
        border-color: #3370B7;
    }

    #wb_Text11 {
        left: 209px;
        top: 677px;
        width: 92px;
        height: 22px;
        visibility: visible;
        display: inline;
        font-size: 8px;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #wb_Text11 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    #wb_Shape4 {
        left: 19px;
        top: 833px;
        visibility: visible;
        display: inline;
    }

    #lBestmove {
        left: 32px;
        top: 837px;
        width: 92px;
        height: 42px;
        visibility: visible;
        display: inline;
        color: #FFFFFF;
        font-size: 16px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #bBest {
        left: 124px;
        top: 845px;
        width: 67px;
        height: 24px;
        visibility: visible;
        display: inline;
        color: #000000;
        font-size: 16px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: #FFFFFF;
        background-image: none;
        border-radius: 4px;
    }

    #Label1 {
        left: 33px;
        top: 883px;
        width: 49px;
        height: 42px;
        visibility: visible;
        display: inline;
        color: #FFFFFF;
        font-size: 16px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #bScore {
        left: 123px;
        top: 891px;
        width: 67px;
        height: 24px;
        visibility: visible;
        display: inline;
        color: #000000;
        font-size: 16px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: #FFFFFF;
        background-image: none;
        border-radius: 4px;
    }

    #bDepth {
        left: 124px;
        top: 939px;
        width: 66px;
        height: 24px;
        visibility: visible;
        display: inline;
        color: #000000;
        font-size: 16px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: #FFFFFF;
        background-image: none;
        border-radius: 4px;
    }

    #Label2 {
        left: 35px;
        top: 931px;
        width: 49px;
        height: 42px;
        visibility: visible;
        display: inline;
        color: #FFFFFF;
        font-size: 16px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #wb_Shape5 {
        left: 20px;
        top: 1071px;
        visibility: visible;
        display: inline;
    }

    #Label3 {
        left: 29px;
        top: 1071px;
        width: 186px;
        height: 42px;
        visibility: visible;
        display: inline;
        color: #FFFFFF;
        font-size: 16px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #bTime {
        left: 223px;
        top: 1079px;
        width: 52px;
        height: 24px;
        visibility: visible;
        display: inline;
        color: #000000;
        font-size: 16px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: #FFFFFF;
        background-image: none;
        border-radius: 4px;
    }

    #bFlip {
        left: 244px;
        top: 610px;
        width: 59px;
        height: 34px;
        visibility: visible;
        display: inline;
        color: #FFFFFF;
        font-size: 16px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: #2E8B57;
        background-image: none;
        border-radius: 4px;
    }

    #bProgress {
        left: 121px;
        top: 359px;
        width: 489px;
        height: 22px;
        visibility: hidden;
        display: none;
    }

    #bTimer {
        left: 77px;
        top: 582px;
        width: 170px;
        height: 9px;
        visibility: visible;
        display: inline;
    }

    #wb_Shape6 {
        left: 20px;
        top: 1004px;
        visibility: visible;
        display: inline;
    }

    #Label4 {
        left: 34px;
        top: 1004px;
        width: 39px;
        height: 42px;
        visibility: visible;
        display: inline;
        color: #FFFFFF;
        font-size: 16px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #bPV {
        left: 81px;
        top: 1012px;
        width: 194px;
        height: 24px;
        visibility: visible;
        display: inline;
        color: #000000;
        font-size: 12px;
        font-family: "Trebuchet MS";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: #FFFFFF;
        background-image: none;
        border-radius: 4px;
    }

    #wb_Text12 {
        left: 3px;
        top: 1139px;
        width: 315px;
        height: 32px;
        visibility: visible;
        display: inline;
        font-size: 8px;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
    }

    #wb_Text12 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

.highlight-from {
    box-shadow: inset 0 0 3px 3px blue;
}

.highlight-to {
    box-shadow: inset 0 0 3px 3px red;
}

@media screen and (max-width: 1300px) {
    #myBoard {
        width: 350px;
        left: -10px;
        top: 40px;
    }
}
